.content {
  margin-top: 80px;
  background-image: url("/assets/img/pexels-olia-danilevich-5088017.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 40px;
  padding-left: 60px;
  flex-direction: column;
  mat-datepicker {
    background-color: transparent;
  }
  form {
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(168, 164, 160, 0.61);
    width: 700px;
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      background-color: transparent;
    }

    button {
      margin-top: 20px;
      color: black;
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      background-color: white;
      width: 150px;
      border-radius: 10px;
      height: 30px;
      &:hover {
        color: white;
        background-color: black;
      }
    }

    textarea {
      resize: none;
      // height: 50px;
    }
  }
}

.navbar {
  justify-content: space-between;
  display: flex;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: rgb(197, 173, 138);
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 60px;
    }
  }
  .navigationLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 20px;
      cursor: pointer;
      font-size: 1.2em;
      background-color: rgb(184, 184, 164);
      color: white;
      height: 50px;
      width: 100px;
      border-radius: 8px;
      box-shadow: 24px 31px 37px -6px rgba(0, 0, 0, 0.46);
      -webkit-box-shadow: 24px 31px 37px -6px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 24px 31px 37px -6px rgba(0, 0, 0, 0.46);
    }
  }
}
